name: lab_1 unit tests
  
on: [push]  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    strategy:  
      matrix:  
        python-version: ["3.10"]  
  
    steps:  
      - uses: actions/checkout@v3  
      - name: Set up Python ${{ matrix.python-version }}  
        uses: actions/setup-python@v4  
        with:  
          python-version: ${{ matrix.python-version }}  
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip  
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi  
      - name: Lint with Ruff  
        run: |  
          pip install ruff  
          ruff --format=github --target-version=py310 .  
        continue-on-error: true  

      - name: Lab_1b tests  
        run: |  
          coverage run -m pytest tests/tests_1b.py -v -s  
      - name: Generate Coverage Report  
        run: |  
          coverage report -m

      - name: Lab_1c tests  
        run: |  
          coverage run -m pytest tests/tests_1c.py -v -s  
      - name: Generate Coverage Report  
        run: |  
          coverage report -m
          
      - name: Lab_1d tests  
        run: |  
          coverage run -m pytest tests/tests_1d.py -v -s  
      - name: Generate Coverage Report  
        run: |  
          coverage report -m